package header

import ticketholder "github.com/Regncon/conorganizer/components/ticket_holder"

templ clickableBillettholderMenu(currentBillettholder ticketholder.BillettHolder) {
	{{
		initials := ticketholder.GetInitials(currentBillettholder.Name)
	}}

	<div class="clickable-billettholder-menu-wrapper" data-ignore-morph>
		<div class="clickable-billettholder-menu-name">
			<p class="js-current-billettholder-name">{ currentBillettholder.Name }</p>
			<p class="js-current-billettholder-ticket-type">{ currentBillettholder.TicketType }</p>
		</div>
		<div class="js-current-billettholder-avatar">
			@ticketholder.Initials(initials, currentBillettholder.Color)
		</div>
	</div>
}
