package layouts

templ Base(children templ.Component) {
	<!DOCTYPE html>
	<html lang="en" data-theme="dark">
		<head>
			<title>backup-service</title>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		</head>
		<body>
			<header>header</header>
			@children
			<footer>footer</footer>
		</body>
	</html>
}
