package profileapi

import "github.com/Regncon/conorganizer/components"


templ NewEventPage() {
	@components.Breadcrumbs([]components.BreadcrumbPath{
		{Name: "Hjem", Url: "/"},
		{Name: "Min Side", Url: "/profile"},
		{Name: "Events", Url: "/profile/events"},
        {Name: "New", Url: ""},
        {Name: "asd11n1n3kjbasd", Url: ""},
	})
	<section class="page-content-container">
		<h1>Mine events</h1>
	</section>
}
