:root {
    --color-background: #f1f3ff;
    --color-text: #1d1d1d;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100svh;
    width: 100%;
    margin: 0;
    color: var(--color-text);
    background: var(--color-background);

    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

footer {
    background-color: #f1f3ff;
}

main {
    flex: 1;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
}

/* Material icons */
.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 4px;
}

/* Log table */
.grid-headers {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 5fr 1fr;
    gap: 0.5rem;
    padding: 0.75rem;
    font-weight: bold;
    border-bottom: 1px solid #444;
}

.log-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 5fr 1fr;
    gap: 0.5rem;
    padding: 0.75rem;
    background-color: #ebedfb;
}

.log-grid > div {
    padding: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-card-text span {
    font-weight: bold;
    font-size: larger;
}

.status-default {
    color: #2563eb;
}

.status-success {
    color: #4caf50;
}

.status-error {
    color: #f44336;
}

.status-pending {
    color: #ff9800;
}
