/* Log container */
.log-entry {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    padding: 0.5em;

    p,h3 {
        margin:0;
    }
}

.log-entry:target {
    border-color: #817e7e;
    margin: 4em 0;
    padding: 1em 0.5em;
    scroll-margin-top: 10em;
}

.log-title {
    display: flex;
    align-items: center;
    gap: 1em;
}

.log-interval {
        width: 8em;
        text-align: center;
        padding: 0 1em;
        border: none !important;
    }
.log-message {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.log-description {
    display: flex;
    gap: 1em;
    font-size: small;
    color: var(--color-text-description);
}

.log-status {
    display: flex;
    padding: 0 1em;
    margin-left: auto;
    border: none !important;
}
