@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color-scheme: dark;
    font-size: 0.8em;
}
@media (min-width: 768px) {
    html {
        font-size: 1.2em;
    }
}

.regnconLogo {
    height: 5em;
}

.AppHeader {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: start;
    gap: 1em;
}
