@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color-scheme: dark;
}

.regnconLogo {
    height: 5em;
}

.AppHeader {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: start;
    gap: 1em;
}