package event

import "fmt"

templ selectedInterestWarning(state selectedInterestState, puljeID string) {
	<div id="interest-participation-warning">
		if state.IsUnderageForEvent {
			<section class="interest-participation-warning" role="status">
				<p>Dette arrangementet har 18-årsgrense. Denne billettinnehaveren kan ikke melde interesse eller melde seg på.</p>
			</section>
		}
		if len(state.GamemasterAssignments) > 0 {
			<section class="interest-participation-warning" role="status">
				<p>Denne billettinnehaveren er spilleder i puljen og kan derfor ikke endre påmeldinger eller interesser.</p>
				<ul>
					for _, assignment := range state.GamemasterAssignments {
						<li>
							<a href={ templ.URL(fmt.Sprintf("/event/%s?pulje=%s", assignment.EventID, puljeID)) }>{ assignment.Title }</a>
						</li>
					}
				</ul>
			</section>
		} else if len(state.PlayerAssignments) > 0 {
			<section class="interest-participation-warning" role="status">
				<p>Denne billettinnehaveren er allerede påmeldt eller tildelt et arrangement i puljen og blir ikke vurdert for andre arrangement gjennom den ordinære fordelingen. Vanlige interesser kan ikke endres før påmeldingen er fjernet.</p>
				<ul>
					for _, assignment := range state.PlayerAssignments {
						<li>
							<a href={ templ.URL(fmt.Sprintf("/event/%s?pulje=%s", assignment.EventID, puljeID)) }>{ assignment.Title }</a>
						</li>
					}
				</ul>
			</section>
		}
	</div>
}
