package myprofile

import "github.com/Regncon/conorganizer/layouts"

templ my_profile(title string) {
    @layouts.Base(title) {
<section class="wrapper"> 
    <h1>
    </h1>
    <a>
        <img></img>
        <section>
            <p>
            </p>
            <p>
            </p>
        </section>
    </a>
    <a>
        <img></img>
        <section>
            <p>
            </p>
            <p>
            </p>
        </section>
    </a>
</section>
    }
}