package myprofile

import "github.com/Regncon/conorganizer/layouts"

templ my_profile(title string) {
	@layouts.Base(title) {
		<section class="wrapper">
			<h1>Min profil</h1>
			<a href="/my-events">
				<img src="/static/sobbingtemp.png"/>
				<section>
					<p>Mine arrangement</p>
					<p>Trykk for å gå til mine arrangement</p>
				</section>
			</a>
			<a href="/my-profile/my-tickets">
				<img src="/static/sobbingtemp.png"/>
				<section>
					<p>Mine billetter</p>
					<p>Trykk for å gå til mine billetter</p>
				</section>
			</a>
		</section>
	}
}
