package myprofile

import "github.com/Regncon/conorganizer/layouts"

templ my_profile(title string) {
	<style>
	.wrapper {
		background-color:#31354E;
		display: grid;
		grid-template-rows: max-content repeat(2, 1fr);
		place-content:center;
		gap: 1rem;
		a {
			box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
			text-decoration: none;
			p {
				color: white;
				text-align: center;
			}
		}
	}
	</style>
	@layouts.Base(title) {
		<section class="wrapper">
			<h1>Min profil</h1>
			<a href="/my-events">
				<img src="/static/sobbingtemp.png" width="345" height="130"/>
				<section>
					<p>Mine arrangement</p>
					<p>Trykk for å gå til mine arrangement</p>
				</section>
			</a>
			<a href="/my-profile/my-tickets">
				<img src="/static/sobbingtemp.png" width="345" height="130"/>
				<section>
					<p>Mine billetter</p>
					<p>Trykk for å gå til mine billetter</p>
				</section>
			</a>
		</section>
	}
}
