package banner

templ BannerDuringFestival() {
	<div class="banner">
		<div class="banner-content">
			<div>
				<h1 class="banner-header">
					Festivalen er i gang!
				</h1>
				<p class="banner-text-small">
					Arrangementene i <strong>programoversikten</strong> kan du som regel sjekke ut når det passer deg,
          sjekk detaljene for dem for mer informasjon.
				</p>
				<p class="banner-text-small">
					Arrangementene i <b>puljene</b> har begrensede plasser, som fordeles tilfeldig. Du kan melde interesse i 
          så mange ting som du ønsker; sjansen er bedre jo flere du melder deg på.
				</p>
			</div>
		</div>
		<img class="banner-avatar" src="/static/calltoactiondragon1.webp" alt="Sjekk ut programmet!"/>
	</div>
}
