package banner

templ BannerMoreEvents() {
	<div class="banner">
		<div class="banner-content">
			<div>
				<h1 class="banner-header">
					Vil du arrangere noe under Regncon?
				</h1>
				<p class="banner-text">
					Vi har åpnet dørene for registrering av arrangementer.
					Har du noe du  ønsker å ta med deg til årets festivalhelg?
				</p>
			</div>
			<a
				role="button"
				href="/profile"
				class="btn btn--cta"
				style="max-width: 260px;"
			>
				Send inn arrangement
			</a>
		</div>
		<img class="banner-avatar" src="/static/calltoactiondragon1.webp" alt="Send inn arrangement"/>
	</div>
}