package banner

templ BannerDuringFestival() {
	<div class="banner">
		<div class="banner-content">
			<div>
				<h1 class="banner-header">
					Festivalen er i gang!
				</h1>
				<p style="font-size: var(--text-article); line-height: var(--text-article-lh);">
					Sjekk ut programmet, se hva som frister, og meld deg på!
					Arrangementene i Programoversikten kan du som regel sjekke ut når det passer deg.
				</p>
				<p style="font-size: var(--text-article); line-height: var(--text-article-lh);">
					Arrangementene i morgen- og kveldspuljene har begrensede plasser, som fordeless
					tilfeldig etter interesse. Du kan melde deg interessert på så mange ting som du 
          ønsker; sjansen er bedre jo flere du melder deg på.
				</p>
			</div>
		</div>
	</div>
}
