package banner

templ BannerDuringFestival() {
	<div class="banner">
		<div class="banner-content">
			<div>
				<h1 class="banner-header">
					Regncon er i gang!
				</h1>
				<p style="font-size: var(--text-article); line-height: var(--text-article-lh);">
					Finn et arrangement som frister, og bli med.
				</p>
			</div>
		</div>
	</div>
}