[Unit]
Description=Conorganizer service
After=network.target

[Service]
User=deploy
Group=deploy
WorkingDirectory=/opt/conorganizer

ExecStart=/opt/conorganizer/conorganizer \
  -dbp /mnt/HC_Volume_103911252/database/events.db \
  -image-path /mnt/HC_Volume_103911252/event-images

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
