package components

import (
	"fmt"
	"strings"

	"github.com/Regncon/conorganizer/components/icons"
	"github.com/Regncon/conorganizer/models"
)

type BillettholderInterest struct {
	BillettholderID   int
	BillettholderName string
	InterestLevel     models.InterestLevel
	IsSelected        bool
}

func (interest BillettholderInterest) Description() string {
	firstName := interest.BillettholderName
	if nameParts := strings.Fields(interest.BillettholderName); len(nameParts) > 0 {
		firstName = nameParts[0]
	}
	return fmt.Sprintf("%s er %s", firstName, strings.ToLower(interest.InterestLevel.Label()))
}

func (interest BillettholderInterest) HeartStyle() templ.SafeCSS {
	fill := "0%"
	switch interest.InterestLevel {
	case models.InterestLevelHigh:
		fill = "100%"
	case models.InterestLevelMedium:
		fill = "65%"
	case models.InterestLevelLow:
		fill = "45%"
	}
	return templ.SafeCSS(fmt.Sprintf("--interest-fill: %s;", fill))
}

func (interest BillettholderInterest) SelectedExpression() string {
	return fmt.Sprintf("$_menuBillettholder?.Id == %d", interest.BillettholderID)
}

templ InterestIndicator(interests []BillettholderInterest) {
	<span
		class="interest-indicator"
		data-on:click__prevent__stop="el.toggleAttribute('data-open')"
		data-on:click__outside="el.removeAttribute('data-open')"
	>
		<span class="interest-indicator-hearts" aria-hidden="true">
			for _, interest := range interests {
				<span
					class={ "interest-indicator-heart", templ.KV("selected", interest.IsSelected) }
					data-class:selected={ interest.SelectedExpression() }
					style={ interest.HeartStyle() }
				>
					<span class="interest-indicator-heart-fill">
						@icons.Icon(icons.HeartFilled, icons.Size24)
					</span>
					<span class="interest-indicator-heart-outline">
						@icons.Icon(icons.HeartUnfilled, icons.Size24)
					</span>
				</span>
			}
		</span>
		<ul class="interest-indicator-tooltip">
			for _, interest := range interests {
				<li
					class={ templ.KV("selected", interest.IsSelected) }
					data-class:selected={ interest.SelectedExpression() }
				>
					{ interest.Description() }
				</li>
			}
		</ul>
	</span>
}
