package components

templ TicketHolderPicker() {
	<style>
        .ticket-holder-picker {

        }
    </style>
	<div class="ticket-holder-picker">
		<button class="btn btn--outline interest-button">
			<span class="emoji">⭐</span>
			Meld interesse
		</button>
	</div>
}
