package components


templ TimeSchedule() {
    <style>
        @container main (width > 1200px) {
            .time-schedule-container {
                width: 1280px;
                border-radius: var(--border-radius-2x);
                padding: var(--spacing-5x);
                gap: var(--spacing-4x);
            }
        }
    </style>

    <h1> why does this not work </h1>
    test
}
