package approval

import (
	"database/sql"
	"github.com/Regncon/conorganizer/components"
)

templ ApprovalPage(db *sql.DB) {
	<div id="approval-container">
		@components.Breadcrumbs([]components.BreadcrumbPath{
			{Name: "Hjem", Url: "/"},
			{Name: "Admin", Url: "admin/"},
			{Name: "Godkjenning av Arrangementer", Url: ""},
		})
		<h1>Arrangementer til Godkjenning</h1>
	</div>
}
