package approval

import (
	"fmt"
	"github.com/Regncon/conorganizer/models"
)

// TODO: can we add the image thumbnail to this element?
templ eventBar(event models.EventCardModel) {
	<a class="event-bar-container" href={ templ.URL(fmt.Sprintf("/admin/approval/edit/%s", event.Id)) }>
		<h2 class="event-bar-title">
			{ event.Title }
		</h2>
		<h3 class="event-bar-subtitle">
			{ event.System }
		</h3>
	</a>
}
