package formsubmission

templ submitSection() {
	<article class="submit-section form-card">
		<p>
			Kladden blir lagret automatisk. Når du er klar til å sende arrangementet inn, trenger du bare å klikke på på knappen her!
		</p>
		<button
			type="submit"
			class="btn btn--outline"
		>
			Send Inn
		</button>
	</article>
}
