:root {
    --centering-height: calc(100dvh - var(--app-bar-height, 0px));
    --scroll-margin-top: 0;
    --app-bar-height: 0;
    --app-bar-height-desktop: 0px;
    --image-height: 0;
    --slider-interest-width: 0;
    --event-margin-left: 0;

}
html {
    font-size: 14px;
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
    scroll-behavior: auto;
}
