:root {

    --color-text-strong: #F1F3F9;
    --color-text-soft: #CCD1E9;
    --color-text-soft-50: hsl(from var(--color-text-soft) h s l / 50%);

    --color-primary-text: var(--color-text-soft);
    --color-primary: #E7A965;
    --color-primary-hover: #E7A96566;
    --color-primary-focus-visible: #feb56780;
    --color-primary-active: #feb56799;
    --color-primary-strong: #E7A965; /* Deprecated variable, use color-primary instead */

    --color-secondary-text: var(--color-text-soft);
    --color-secondary: #CCD1E9;
    --color-secondary-hover: #CCD1E91A;
    --color-secondary-focus-visible: #CCD1E980;
    --color-secondary-active: #CCD1E933;

    --color-disabled: #CCD1E980;

    --bg-base: var(--bg-body-100);
    --bg-surface: #252735;
    --bg-item: var(--bg-body-90);
    --bg-item-border: #494d62;

    --bg-body-100: #1A1B26;
    --bg-body-90: #35394A;
    --bg-body-80: #474446;
    --bg-body-70: #575255;
    --bg-body-60: #666064;
    --bg-body-50: #756e73;

    /* text & font */
    --text-body: 16px;
    --text-heading-1-xl: 52px;
    --text-heading-1: 40px;
    --text-heading-2: 32px;
    --text-heading-3: 16px;
    --text-heading-4: 12px;
    --text-article: 20px;

    /* spacings */
    --spacing-1x: 4px;
    --spacing-2x: 8px;
    --spacing-3x: 12px;
    --spacing-4x: 16px;
    --spacing-5x: 20px;
    --spacing-8x: 32px;
    --spacing-10x: 40px;


    /* border */
    --border-radius-1x: 4px;
    --border-radius-2x: 8px;

    /* content width */
    --page-header-max-width: 1920px;
    --page-content-max-width: 1440px;

    /* breakpoints */
    --mobile-min-width: 320px;
    --mobile-max-width: 600px;

    /* nav */
    --nav-height: 4rem;
    --nav-z-index: 10;
    --nav-gap: 1rem;
}

::selection {
    background-color: var(--color-primary-text);
    color: var(--bg-base);
}

@view-transition {
    navigation: Auto;
}

html {
    color-scheme: dark;
    box-sizing: border-box;
    color: var(--primary-text);
    font-size: var(--text-body);
    color: var(--color-primary-text);
    scroll-behavior: smooth;
    /*
    //todo: fix nav then add scroll-margin based on css variable
    */
    scroll-margin: 64px;

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}

body {
    background: var(--bg-base);
    margin: 0;
    font-family: sans-serif;
    margin-block-end: calc(var(--nav-height) + var(--nav-gap));

    @media screen and (width >=420px) {
        margin-block-end: 0;
    }

    main {
        container-type: inline-size;
        container-name: main;
        padding-bottom: 3rem;
        /* add 3rem  to avoid menu overlap */
    }

    @media screen and (width >=420px) {
        main {
            padding-bottom: 0;
        }
    }

    .formsubmission-css-container {
        container-type: inline-size;
        container-name: formsubmission-css-container;
        display: grid;
    }

    .event-container {
        container-type: inline-size;
        container-name: event-container;
    }
}

.header-content-container {
    max-width: var(--page-header-max-width);
    padding: 0 8px;
    margin: 0 auto;
}
.page-content-container {
    max-width: var(--page-content-max-width);
    padding: 0 8px;
    margin: 0 auto;
}
@container main (width > 600px) {
    .header-content-container,
    .page-content-container {
        padding: 0 var(--spacing-medium);
    }
}
@container main (width > 1200px) {
    .header-content-container,
    .page-content-container {
        padding: 0 var(--spacing-xlarge);
    }
}

h1 {
    margin: 0;
    color: var(--color-text-strong);
}

h1.page-heading {
    font-size: 32px;
    margin: var(--spacing-medium) 0;
    &.has-helptext {
        margin-bottom: var(--spacing-xsmall);
    }
}
.page-heading-helptext {
    margin-bottom: var(--spacing-medium);
}
@container main (width > 600px) {
    h1.page-heading {
        font-size: 40px;
        margin: var(--spacing-large) 0;
    }
    .page-heading-helptext {
        margin-bottom: var(--spacing-large);
    }
}
@container main (width > 1000px) {
    h1.page-heading {
        margin: var(--spacing-xlarge) 0;
    }
    .page-heading-helptext {
        margin-bottom: var(--spacing-xlarge);
    }
}

h3 {
    margin: 0;
    font-weight: 700;
    font-size: var(--text-heading-3);
}

h4 {
    margin: 0;
    font-weight: 400;
    font-size: var(--text-heading-4);
}

p {
    margin: 0;
}
p + p {
    margin-top: 1rem
}

hr {
    width: 100%;
    height: 2px;
    border-width: 0;
    background-color: var(--color-text-soft-50);
    margin: 0;
}

.color-strong {
    color: var(--color-text-strong);
}

.input {
    background-color: var(--bg-item);
    color: var(--color-text-primary);
    border-radius: var(--border-radius-2x);
    min-height: 2.6rem;
    border: 1px solid var(--bg-item-border);
    font-size: 1rem;
    padding-inline-start: 1rem;
    margin: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

:is(textarea).input {
    padding-block-start: 0.5rem;
}

.input::placeholder {
    color: var(--color-text-soft-50);
}

.input:focus-visible {
    outline: 0;
    border: 1px solid var(--color-primary-hover);
    box-shadow: 0 0 0 .25rem hsla(from var(--color-primary-hover) h s l / 0.25);
}

input {
    font-family: monospace;
}

.checkbox-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    height: 1rem;
    width: 1rem;
}

.checkbox:checked {
    background-color: var(--color-primary);
    color: var(--color-text-strong);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.card {
    width: var(--mobile-responsive-min-width);
    background: #31354e;
    border-radius: var(--border-radius-1x);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.form-card {
    border-radius: var(--border-radius-2x);
    background-color: var(--bg-surface);
    padding: var(--spacing-medium);
}

.form-card-title {
    margin-bottom: var(--spacing-xsmall);
}

.item-card {
    padding: 1rem;
    background-color: var(--bg-item);
    border-radius: var(--border-radius-2x);
    font-size: 0.9rem;
}
