:root {
  --color-primary-text: black;
  --color-secondary: #ff7c7c;
  --bg-color: white;
}

[data-theme="dark"] {
  --color-primary-text: #f5f5f5;
  --bg-color: #21243d;
}

body {
  color: var(--color-primary-text);
  background: var(--bg-color);
  margin: 0;
  font-family: sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
