package event_components

import (
	"github.com/Regncon/conorganizer/components"
)

css event_property_css() {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

templ Event_property(text string, iconType components.IconType) {
	<div class={ event_property_css }>
		@components.Icon(iconType)
		<span>{ text }</span>
	</div>
}
