package event_components

import (
	"github.com/Regncon/conorganizer/components/icons"
)

css event_property_css() {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

templ Event_property(text string, iconType icons.IconType) {
	<div class={ event_property_css }>
		@icons.Icon(iconType, icons.Size24)
		<span>{ text }</span>
	</div>
}
