package event_components

templ EventInterests() {
	<style>

        ::backdrop {
            background-image: linear-gradient(
                45deg,
                magenta,
                rebeccapurple,
                dodgerblue,
                green
            );

            opacity: 0.75;
        }

        .interest-dialog {
            visibility: hidden;
        }

        .interest-dialog[open] {
            --dialog-width: min(56.25rem, 90%);
            visibility: visible;
            display: grid;
            width: var(--dialog-width);
            background-color: var(--bg-base);
            border: none;

            .dialog-header {
                display: flex;
                place-content: space-between;
                place-items: center;
                height: fit-content;

                .btn {
                    padding-inline: var(--spacing-2x);
                }
            }

            hr {
                margin-block-end: var(--spacing-5x);
            }

            .ticket-holder-picker {
                margin-block-end: var(--spacing-5x);
            }

            button {
                place-content: start;
            }

            button .emoji {
                font-size: 25px;
                margin-inline-end: var(--spacing-5x);
            }

        }


    </style>
	<dialog class="interest-dialog" closedby="any">
		<header class="dialog-header">
			<h3>Meld interesse</h3>
			<form method="dialog">
				<button autofocus class="btn btn--ghost close">❌</button>
			</form>
		</header>
		<hr/>
		<div class="ticket-holder-picker">
			<p>Select billettholder</p>
			<button class="btn btn--secondary">VELG PERSON</button>
		</div>
		<button class="btn btn--cta"><span class="emoji">🤩</span> Veldig interessert</button>
		<button class="btn btn--cta"><span class="emoji">🙂</span> Interessert</button>
		<button class="btn btn--cta"><span class="emoji">🤨</span> Litt interessert </button>
		<button class="btn btn--cta"><span class="emoji">😑</span> Ikke interessert</button>
	</dialog>
	<script defer>
        const modal = document.querySelector(".interest-dialog");
        const button = document.querySelector(".interest-button");
        const buttonAbortController = new AbortController();
        const buttonSignal = buttonAbortController.signal;

        const handleButtonClick = () => {
            modal.showModal();
        };

        button.addEventListener("click", handleButtonClick, { signal: buttonSignal });
    </script>
}
