package event_components

import "github.com/Regncon/conorganizer/service/program"

// The date query selects the root program day that contains this pulje.
templ ProgramPuljeNoEvents(date string) {
	<style>
		.pulje-no-events-container {
			align-items: center;
			gap: var(--spacing-4x);
			background-color: var(--level-2-background);
			border-radius: var(--border-radius-2x);
			padding: var(--spacing-4x);
			.btn {
				flex-shrink: 0;
			}
		}
		@media screen and (width < 600px) {
			.pulje-no-events-container .btn {
				align-self: flex-end;
			}
		}
	</style>
	<div class="pulje-no-events-container flex-responsive">
		<p>
			Vi har ingenting å vise her ennå.
			Har du sjekket om det finnes noen kule arrangementer du ønsker å delta på?
		</p>
		<a href={ templ.URL(program.ProgramDateURL(date)) } class="btn btn--secondary">
			Se arrangementer
		</a>
	</div>
}
