package root

import "github.com/Regncon/conorganizer/components"

templ Page(name string) {
	<html>
		@components.Header("Root Page")
		<body>
			<h1>{ name }</h1>
			<a href="/event">Go to event page</a>
			@eventCard("Event 1", "System 1", "Game Master 1", "Description 1")
		</body>
	</html>
}
