name: Conorganizer build and test

on:
    push:
        branches: ["**"]

    pull_request:
        branches: ["**"]
        types: [opened, reopened, synchronize]

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.25"
                  cache: true

            - name: Install templ
              run: go install github.com/a-h/templ/cmd/templ@latest

            - name: Generate template files
              run: templ generate

            - name: Run tests
              run: go test ./...

            - name: Build binary
              run: go build -o conorganizer ./...

            - name: Upload binary artifact
              uses: actions/upload-artifact@v4
              with:
                  name: conorganizer-${{ github.sha }}
                  path: conorganizer
